.images-list {
    display: flex;
    justify-content: space-around;
}

.login-container {
    margin-top: 80px;
}

.login-error{
    background-color: #EC524B;
    height: 40px;
    border-radius: 5px;
    text-align:center;
    margin-bottom: 15px;
}

.login-error p{
   font-weight: 100;
   font-size: 18px;
color: white;
padding-top: 5px;
}

.login-form-background{
    padding-top:10px;
     background-color:#9AD3BC;
     height: 100vh;
}

.login-form-col{
    background-color: #FFEFC1;
    border-radius: 20px;
    box-shadow: 0 15px 15px -10px rgba(0,0,0,.2);

}

.login-splitter{
    border: 1px solid #E59F44
}