.my-recipes-title {
    text-align: center;
    margin: 30px;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    border: 2px dotted #F5B561;
    background-color: #F4D192;
    border-radius: 15px;
    padding: 5px 0;
}