.search-title {
    text-align: center;
    margin: 15px;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 0;
     box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.1);

}

.searchButtoon{
 display:inline;
    background-color: #F5B561;
    border: none;
    margin-bottom: 20px;
    color: white;
}

.searchButtoon:hover{
    background-color: #e59f44;
}