.image-Col{
    text-align: center
}

.profile-img {
    height: 180px;
    object-fit:cover;
    width:180px;
    border-radius:50%;
    border: 5px solid white;
    box-shadow: 0 15px 15px -10px rgba(0,0,0,.2);
}

.profile-header{
    margin-top: 50px;
    padding: 15px;
    background-color:#F4D192;
    border-radius: 15px;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.2);
}

h3 {
    font-weight: 100;
    font-size: 40px;
}

.profile-info p{
    font-weight: 100;
    margin: 0
}

.header-numbers{
    font-weight: 100;
    font-size: 19px;
}

.profile-splitter{
    border: 1px solid #F5B561;

}
.profile-splitter.username{
    border: 1px solid #F5B561;
    width: 300px;
}
