.profile-container {
    margin-bottom: 50px;
    margin-top: 90px;
}

.profile-header {
    text-align: center
}

.recipes-list{
    margin-top: 20px;
}

.shuffleButton{
    background: #ff6e7f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border: none

}