.profile-container {
    margin-bottom: 50px;
    margin-top: 20px;
}



.recipes-list{
    margin-top: 20px;
}

.general-background{
    padding: 1px 0 30px 0;
    background: url("./background-copia.png");
    background-size: 500px 500px;
    
}