.form {
    margin: 20px 0 80px;
}

.ingredients-list{
    margin-bottom: 10px;
}

.newRecipeTitle {
    text-align: center;
     font-size: 60px;
     margin: 0;
     padding: 40px 0 0 0;
}


.edit-cancel-btns{
    text-align: center;

}

.edit-cancel-btns button{
    color: white;
    margin-right: 10px;
    border: none;
    background-color: #9AD3BC;
}
.edit-cancel-btns button:hover{
    color: white;
    margin-right: 10px;
    border: none;
    background-color: #F5B561;
    
}

textarea{
    height: 400px;
}

.new-recipe-form-col{
    background-color: #FFEFC1;
    padding: 0px 60px 0 60px;
    margin: 100px 0;
    border-radius: 20px;
    align-items: center;
}

.edit-recipe-form{
    background-color:#9AD3BC
}

.edit-section .form-file-label{
    text-align: center;
    font-size: 25px;
    font-weight: 100
}


button .unlike-btn { display: none; }
button:hover .likedHeart { display: none; }
button:hover .unlike-btn { display: inline; }

button .likeHeart { display: none; }
button:hover .unliked-btn  { display: none; }
button:hover .likeHeart{ display: inline; }

.emptyHeart{
  width: 17px;
  display: inline;
      margin-left:1px;
  margin: 0;
}
.fullHeart{
  width: 17px;
    display: inline;
    margin-left:1px;
  background: none
}