.profileNav-btn {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 100;
}

.profile-navbar{
    margin-top: 15px;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.2);

}

.profile-navbar-btn {
    text-decoration: none;
    color: black
}
.delete-profile-btn {
    text-decoration: none;
    color: #c40000
}

.newRecipe-Btn{
    color: #B68F24
}


.card-header {
    background-color: #F4D192;

    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}
.card-body {
    background-color: #f7e7d2;
    text-align: center
}

.card {
    border: 1px solid #F4D192
}

.editModalBody{
    padding: 0 40px;
}
.profile-edit-title{
    font-size: 35px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

.profile-edit-label{
   font-weight: 100;
   font-size: 20px;
   text-align: center;
}

.edit-profile-botton{
    color: white;
    margin-right: 10px;
    border: none;
    background-color: #9AD3BC;
width: 100%}

.edit-profile-botton:hover{
    color: white;
    margin-right: 10px;
    border: none;
    background-color: #F5B561;
}

.cancel-delete-profile-botton{
    color: white;
    margin-right: 10px;
    border: none;
    background-color: #9AD3BC;
width: 100%}

.cancel-delete-profile-botton:hover{
    color: white;
    margin-right: 10px;
    border: none;
    background-color: #7cb49e;
}

.delete-profile-botton{
    color: white;
    margin-right: 10px;
    border: none;
    background-color: #EC524B;
width: 100%;
margin-bottom: 10px;
}

.delete-profile-botton:hover{
    color: white;
    margin-right: 10px;
    border: none;
    background-color: #c24039;
}