.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 300;
     background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#F37335,#FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header-img {
    width:30px;
    height:30px;
    object-fit:cover;
    border-radius: 50%;
}

.profile-link {
    display:flex;
    align-items: center
}