.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 400;
    background-color: #f5b461;  /* fallback for old browsers */
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.2);
}

.header-img {
    width:30px;
    height:30px;
    object-fit:cover;
    border-radius: 50%;
}

.profile-link {
    display:flex;
    align-items: center
}

.page-title {
    color: #FFF;
    font-weight: 700;
}

hr{
    margin-bottom: 10px;
    background-color: white
}