.images-list {
    display: flex;
    justify-content: space-around;
}

.signup-container {
    margin-top: 80px;
}

.signup-error{
    background-color: #EC524B;
    height: 40px;
    border-radius: 5px;
    text-align:center;
    margin-bottom: 15px;
}

.signup-error p{
    font-weight: 100;
    font-size: 18px;
    color: white;
    padding-top: 5px;
}

.signup-form-background{
    padding-top:10px;
    background-color:#9AD3BC;
    height: 100vh;
}

.signup-form-col{
    background-color: #FFEFC1;
    border-radius: 20px;
    box-shadow: 0 15px 15px -10px rgba(0,0,0,.2);
}

.signup-splitter{
    border: 1px solid #E59F44
}