
.follow-button{
    margin-top: 10px
}
.unfollow{
    border: none;
}

.unfollow:hover {
background-color: #C82333;
border:none;
}

button .unfollow-btn { display: none; }
button:hover .following { display: none; }
button:hover .unfollow-btn { display: inline; }

