/* colors {
    light-blue: #9ad3bc;
    sepia: #f3eac2;
    orange: #f5b461;
    red: #ec524b
} */





.hero {
    height: 90vh;
    background-color: #f3eac2;  /* fallback for old browsers */
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35vh;
    position: relative;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.2);
}

.hero h1 {
    font-weight: 900;
    font-size: 80px;
    color: #9ad3bc
}
.hero p {
    color: #f5b461
}

.title-focused{
color: #f5b461
}

.homepage-btn .btn {
    margin-right: 15px;
    border-radius: 25px;
    padding-bottom:10px;
    color: #ffffff;
    background-color: #f5b461;
    border: none;

}
.fork-img-right{
    width: 115px;
    position: absolute;
    z-index: 50;
    bottom: 0px;;
    right: 100px;
    opacity: 0.5;
}
.fork-img-left{
    width: 115px;
    position: absolute;
    z-index: 50;
    bottom: 0px;;
    left: 100px;
    opacity: 0.5;
}

.spliter{
    background-color: #9ad3bc;
    height: 30px;
    padding: 0;
    margin: 0;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.2);
}

.spliter.beige{
    background-color: #f3eac2;
}

.home-info{
    height: 400px;
    background-color:#f5b461 ;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.2);
}

.home-info-container {
  padding-top: 80px;
   color: white;
   font-weight: 100;
}
.home-info-container p{
  font-size: 20px;
}

.home-graphics{
    height: 410px;
    background-color:#9ad3bc ;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.2);
}

.home-graphics h2{
     font-weight: bold;
     color: white;
     text-align: center
}
.home-graphics p{

     color: white;

}

.num-recipes-col{
padding-top: 80px;
}

.num-recipes-col p{
text-align: center;
 font-size: 20px;
 font-weight: 100;
}

.num-recipes-col h2{
    font-size: 45px;
text-align: center
}

.num-recipes{
    font-weight: 100
}

.graphics{
    height: 400px;
}

.footer{
    height: 50px;
    background-color: #F5B561
}
.footer p{
    color: white;
    padding: 0 20px;
    margin: 0;
    font-weight: 100;
}
.footer a{
    color: white;
    
}

.profile-splitter{
    border: 1px solid #F5B561
}

.underline{
    text-decoration: underline;
}