.hero {
    height: 400px;
    background-color: grey;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-family: 'Noto Sans JP', sans-serif;
}

.hero h1 {
    font-weight: 900;
    font-size: 60px;
}

.homepage-btn .btn {
    margin-right: 15px;
    border-radius: 25px;
    padding-bottom:10px;
}