.profile-container {
    margin-bottom: 50px;
    margin-top: 90px;
}

.profile-header {
    text-align: center
}

.recipes-list{
    margin-top: 20px;
}

.friend-profile-title {
    text-align: center;
    margin: 30px;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    background-color:#F4D192 ;
    border-radius: 15px;
    width: 400px;
    padding: 5px 10px;
margin: 30px auto;
}
